*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: segoe ui;
    }
    body{
    background: linear-gradient(90deg, #d5eff4, #ffc7a6);
    }
    .heading{
    text-align: center;
    margin-top: 25px;
    }
    .heading h1{
    font-size: 45px;
    color: #36455c;
    margin-bottom: 0px;
    }
    .about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    }
    .about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
    padding-top: 50px;
    }
    .content{
    padding: 35px;
    padding-top: 60px;
    }
    .content h2{
    color: #36455c;
    font-size: 37px;
    margin: 15px 0px;
    }
    .content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
    }
    .read-more-btn{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 6px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    }
    
    #image{
        height:600px;
    }